<!-- _includes/person_card.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
      <div class="card hoverable">
        {%- if person.img %}
        {%- include figure.html
          path=person.img
          alt="person thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title">
            {{ person.first_name }}<br>
            {{ person.last_name }}
          </h2>
          <p class="card-role">
            {{person.role}}
            {%- if person.supervisors %}
            with {{ person.supervisors | array_to_sentence_string }}
            {%- endif %}
          </p>
          <p class="card-text"><i>{{ person.one_liner | truncate: 80}}</I></p>

          <p class="mt-3">
            <p>
              <i class="far fa-envelope"></i>&nbsp;{{ person.email | obfuscate }}
            </p>
            {% if person.phone %}  
              <a href="tel:{{person.phone}}"><i class="fas fa-phone"></i>&nbsp; {{person.phone}}</a>
            {% endif %}
            {%- if person.scholar_userid -%}
            &nbsp;<a href="https://scholar.google.com/citations?user={{ person.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>&nbsp;
            {% endif %}
            {%- if person.personal_page -%}
            &nbsp;<a href="{{ person.personal_page }}" title="Work"><i class="far fa-address-card"></i></a>&nbsp;
            {% endif %}
            {%- if person.github_username -%}
            &nbsp;<a href="https://github.com/{{ person.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>&nbsp;
            {% endif %}
            {%- if person.twitter_username -%}
            &nbsp;<a href="https://twitter.com/{{ person.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a>&nbsp;
            {% endif %} 
          </p>
        </div>
      </div>
</div>